{# Environment provided properties #}
{% set deployment = env["deployment"] %}
{% set name = "default" %}
{% set description = "A GCE network" %}

resources:
  - name: {{ name }}-tcp-9090-9100
    type: compute.v1.firewall
    properties:
      network: global/networks/default
      sourceRanges: ["0.0.0.0/0"]
      targetTags: ["{{ name }}-tcp-9090-9100"]
      allowed:
        - IPProtocol: TCP
          ports: ["9090", "9100"]
