{# Runtime config and software status waiter #}
{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set RTCEndpoint = "https://runtimeconfig.googleapis.com/v1beta1" %}
{% set timeout = properties["timeout"] %}
{% set statusPath = "status" %}
{% set successNumber = 1 %}
{% set failureNumber = 1 %}
{% set waiterDependsOn = properties["waiterDependsOn"] %}

{% set configName = deployment + "-config" %}
{% macro configUrl() -%}
{{ "%s/projects/%s/configs/%s"|format(RTCEndpoint, project, configName) }}
{%- endmacro %}

{% set waiterName = deployment + "-waiter" %}

resources:
  - name: {{ configName }}
    type: runtimeconfig.v1beta1.config
    properties:
      config: {{ configName }}
      description: Holds software readiness status for {{ deployment }}
  - name: {{ waiterName }}
    type: runtimeconfig.v1beta1.waiter
    metadata:
      dependsOn:
    {% for dependency in waiterDependsOn %}
      - {{ dependency }}
    {% endfor %}
    properties:
      parent: $(ref.{{ configName }}.name)
      waiter: software
      timeout: {{ timeout }}
      success:
        cardinality:
          number: {{ successNumber }}
          path: {{ statusPath }}/success
      failure:
        cardinality:
          number: {{ failureNumber }}
          path: {{ statusPath }}/failure

outputs:
  - name: config-url
    value: {{ configUrl() }}
  - name: variable-path
    value: {{ statusPath }}
